@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Rubik:wght@500;700&display=swap");
* {
  margin: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

.project-link {
  color: #5c5757b3;
  text-decoration: none;
}

.bg-grey {
  background: #f7f7f7;
}

#nav-bar {
  text-align: center;
}

.job-position {
  opacity: 0.7;
}

#nav-bar .container a i {
  color: #26a1dd;
}

::marker {
  color: #26a1dd;
  font-size: 22px;
}

#about .container {
  min-width: 100%;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    to bottom,
    rgba(34, 34, 34, 0.6),
    rgba(34, 34, 34, 0.6)
  );
}

#banner,
#nav-bar,
#about,
#job-info,
#certificate,
#project,
#footer {
  width: 100%;
}

.banner_introduce {
  position: absolute;
  top: 22%;
  text-align: center;
  color: #fff;
}

.full-name {
  font-size: 35px;
}

#banner img {
  position: relative;
  z-index: -1;
}

.rating-bar-color,
.rating-bar-none_color {
  height: 5px;
}

/* Thanh cấp độ kĩ năng*/
.rating-bar-none_color {
  background-color: #e5e5e5;
}

/* Thanh cấp độ kĩ năng*/
.rating-bar-color {
  background-color: #3666e2;
}

.rating-bar-color,
.rating-bar-none_color {
  display: inline-block;
  border-radius: 2px;
}

/* Navigation bar */
#nav-bar {
  position: relative;
}

#nav-bar .container {
  display: flex;
  min-width: 100%;
}

#nav-bar .container a {
  color: #000;
  font-size: 14px;
}

#nav-bar .container div h1 {
  font-weight: 500;
  font-size: 25px;
}

/* target */
#target {
  background-color: #f5f5f5;
  padding-top: 86px;
}

#target p,
#personal-info ul li {
  color: #82868b;
  font-size: 16px;
  line-height: 24px;
}

/* personal-info */
#personal-info {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding-top: 66px;
}

#personal-info ul {
  padding: 0;
}

#personal-info ul li {
  margin-bottom: 5px;
  list-style: none;
}

#personal-info ul li span {
  color: #000;
}

.section-title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 28px;
}

.personal-social-icon {
  margin-top: 32px;
}

.personal-social-icon i:first-child {
  padding-left: 0px;
}
.personal-social-icon i {
  color: #26a1dd;
  padding: 0px 4px;
}

/* job-info */
#job-info .container {
  display: grid;
}

.experience,
.education,
.activity,
.hobbies,
.language,
.skill {
  padding: 5px 32px 75px;
  border: 1px solid #00000021;
}

.experience ul,
.education ul,
.activity ul {
  padding-left: 16px;
}

.job-info_title {
  padding-top: 44px;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.job-info_title span {
  flex: 3;
}

.job-info_title i {
  font-size: 42px;
  flex: 1;
  opacity: 0.6;
}

#job-info .description {
  padding-top: 44px;
  font-size: 14px;
  color: #757b81;
  font-weight: 400;
}

#job-info .description h3 {
  color: #353434;
  font-size: 18px;
}

#job-info p {
  line-height: 22px;
}

#job-info .time {
  font-style: italic;
  line-height: 32px;
}

#job-info .time span {
  color: #fff;
  background-color: #26a1dd;
  padding: 2px 12px;
  border-radius: 8px;
  margin-left: 3px;
}

.hobbies ul {
  margin-top: 22px;
  padding: 0;
  display: flex;
}

.hobbies ul li {
  list-style: none;
  margin-right: 22px;
  text-align: center;
  line-height: 1.6em;
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hobbies .hobbies-list li i {
  color: #26a1dd;
  border: 1px solid #26a1dd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.hobbies .hobbies-list li:last-child {
  margin-right: 0px;
}

.hobbies ul li span {
  display: block;
  color: #757b81;
  font-size: 14px;
}

/* certificate */
.certificate-description div {
  flex-direction: column;
  border-bottom: 1px solid #d6c08d;
  padding: 44px 0px;
}

.certificate-description div:last-child {
  border-bottom: none;
}

/* project */

.project-list {
  width: 100%;
}

.project-list img {
  width: 100%;
}

.project-name,
.project-detail,
table {
  position: relative;
  top: -1px;
}

table {
  border: 1px solid #757b8136;
  border-collapse: collapse;
}

td,
th {
  vertical-align: text-top;
  padding: 10px 0px;
  border-bottom: 1px solid #757b8136;
  text-align: start;
  padding: 9px 0px 0px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #5c5757b3;
}

td {
  width: 75%;
}

th {
  width: 25%;
  margin-left: 10px;
}

.project-name {
  text-transform: uppercase;
  padding: 14px 28px;
  border: 1px solid #757b8136;
}

.project-detail .time {
  background-color: #26a1dd;
  border-radius: 24px;
  color: #fff;
}

/* Footer */
#footer ul {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#footer li {
  list-style: none;
  font-size: 75%;
  display: flex;
  align-items: center;
  color: #757b81;
  margin-right: 24px;
}

#footer li i {
  font-size: 34px;
  color: #26a1dd;
  margin-right: 8px;
}
