.result-list {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;

}

.item {
    transition: all 0.2s linear;
    border-radius: 8px;
}

.item:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.item img {
    border-radius: 8px;
}